
body{
    margin:0;
    padding:0;
}

/*Navigation Styles*/

.nav-container {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
    
    font-family: 'Yeseva One', cursive;
    z-index: 999;
}

.name{
    color:#D8977F;
    font-size: 30px;
    text-align: left;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-top: 1em;
}

nav{
    position: relative;
    text-align: right;
    padding: 0;
    margin: 0;
    
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
}

nav a {
    color: #D8977F;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
}

nav a:hover{
    color: #014040;
}

/*Hero Image Styles*/

.hero-container{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    background-color: #014040;
    align-items: center;
    justify-content: center;
    height: 600px;
}

.hero-image{
    justify-content: center;
    width: 40%;
}
.hero-text{
    height: 600px;
    color: #D8977F;
    font-size: 24px;
    font-family: 'Lora', serif;
    text-align: right;
    justify-content: center;
}

/*Case Study Styles*/

.my-work{
    margin-top:100px;
    text-align: center;
    font-family: 'Yeseva One', cursive;
    font-size: 36px;
    color: #D8977F;
}

.case-study{
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    flex-direction: column;
}

.mojo, .epa {
    top: 50px;
    left: 128px;
    width: 80%;
    position: relative;
    height: 372px;
    background: #7AB8BF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 15px;
    opacity: 1;
}

.mojo,.epa {
    transition: all .1s ease-in-out;
}
.epa:hover {
    transform: scale(1.1);
}
.mojo:hover {
    transform: scale(1.1);
}

.mojo{
    position:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    display: flex;
    padding-top: 20px;
   
    
}


.case-study-text-header{
    color: #025373;
    font-family: 'Yeseva One', cursive;
    font-size: 30px;
}

.case-study-text{
    color: #025373;
    font-family: 'Lora', serif;
    font-size: 20px;
}

.read-more-mojo{
    background-color:#025373;
    border: 1px #025373 solid;
    color: #7AB8BF;
    font-size: 16px;
    font-family: 'Lora', serif;
    padding:15px;
    height:15%;
    border-radius: 20px;
}

.read-more-epa{
    background-color:#025373;
    border: 1px #025373 solid;
    color: #7AB8BF;
    font-size: 16px;
    font-family: 'Lora', serif;
    padding:15px;
    height:15%;
    border-radius: 20px;
    margin-top: 15px;
}

.epa-image{
    margin-top: 15px;
}


.epa{
    position:flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    display: flex;
    padding: 20px;
    margin-top: 90px;
}

.footer{
  margin-top: 90px;
  display: flex;
  justify-content: right;
  align-items: right;
  height: 100px;
  
}

/*Footer Styles*/

.footer {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100px;
    border-top: 3px solid #025373;
  }
  
  .footer a {
    padding: 20px 40px;
    font-family: 'Lora', serif;
    text-decoration: none;
    color: #025373;
  }

  .footer a:hover{
      color:#D8977F;
  }
  
  .preloader{
    position:fixed;
    width:100%;
    height:100vh;
    z-index: 100000;
    background-color: #D8977F;
    top: 0;
    display: flex;
    align-items: center;
  }
  
  .preloader img{
    animation: spin 3s ease;
    width: 150px;
    transition: all;
    margin: 0 auto;
  }
  
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(720deg);
    }
  }